<div class="vertical-center">
  <div class="wrapper-contaienr">
    <div class="wrapper">
      <header>
        <h4 class="h4">These are your recipes, based on your <span>household</span></h4>
      </header>
      <div class="content-carousel">

        <a class="recipe-container" [routerLink]="['/recipe']">
          <div class="img">
            <div class="recipe-overlay"></div>
            <span>Ravioli with spinach and gorgonzola</span>
          </div>
          <div class="time-tag">
            <span class="tag-text">20</span>
            <span class="tag-text tag-text-normal">min</span>
          </div>
          <div class="price-tag"><span class="tag-text">&euro;&euro;&euro;</span></div>
        </a>

        <a class="recipe-container" [routerLink]="['/recipe']">
          <div class="img">
            <div class="recipe-overlay"></div>
            <span>Ravioli with spinach and gorgonzola</span>
          </div>
          <div class="time-tag">
            <span class="tag-text">20</span>
            <span class="tag-text tag-text-normal">min</span>
          </div>
          <div class="price-tag"><span class="tag-text">&euro;&euro;&euro;</span></div>
        </a>

        <a class="recipe-container" [routerLink]="['/recipe']">
          <div class="img">
            <div class="recipe-overlay"></div>
            <span>Ravioli with spinach and gorgonzola</span>
          </div>
          <div class="time-tag">
            <span class="tag-text">20</span>
            <span class="tag-text tag-text-normal">min</span>
          </div>
          <div class="price-tag"><span class="tag-text">&euro;&euro;&euro;</span></div>
        </a>

        <a class="recipe-container" [routerLink]="['/recipe']">
          <div class="img">
            <div class="recipe-overlay"></div>
            <span>Ravioli with spinach and gorgonzola</span>
          </div>
          <div class="time-tag">
            <span class="tag-text">20</span>
            <span class="tag-text tag-text-normal">min</span>
          </div>
          <div class="price-tag"><span class="tag-text">&euro;&euro;&euro;</span></div>
        </a>

        <a class="recipe-container" [routerLink]="['/recipe']">
          <div class="img">
            <div class="recipe-overlay"></div>
            <span>Ravioli with spinach and gorgonzola</span>
          </div>
          <div class="time-tag">
            <span class="tag-text">20</span>
            <span class="tag-text tag-text-normal">min</span>
          </div>
          <div class="price-tag"><span class="tag-text">&euro;&euro;&euro;</span></div>
        </a>

        <a class="recipe-container" [routerLink]="['/recipe']">
          <div class="img">
            <div class="recipe-overlay"></div>
            <span>Ravioli with spinach and gorgonzola</span>
          </div>
          <div class="time-tag">
            <span class="tag-text">20</span>
            <span class="tag-text tag-text-normal">min</span>
          </div>
          <div class="price-tag"><span class="tag-text">&euro;&euro;&euro;</span></div>
        </a>

      </div>
      <footer>
        <div class="footer">
          <button mat-flat-button color="secondary" secondary>Different recipes</button>
          <button mat-flat-button color="primary" primary>Save all recipes</button>
        </div>
      </footer>
    </div>
  </div>
</div>
