<div class="parent-container">
  <div class="steps-background-image" [ngClass]="{'blur-background': activePage!=0}">
    <div class="layer">
    </div>
  </div>

  <div class="wrapper-container">
  <div class="wrapper">
      <!-- Zero Section -->
      <ng-container  *ngIf="activePage==0" class="flip-horizontal-bottom">
        <div class="content">
          <h2 class="h2">Cookitto helps you <br/>find the right things to cook, faster.</h2>
          <h4 class="h4 first-page-content">Let us help you by asking a <br/> few basic questions.</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="incrementIntroductionPage()">Let's start</button>
        </div>
      </ng-container>
      <!-- 1 section -->
      <ng-container  *ngIf="activePage==1">
        <div class="content">
          <div class="circle" [@scaleUp]>
              <span [@numberChangeAnimation]="numberOfPeople">{{numberOfPeople}}</span>
              <div class="counter-controles">
                  <button color="secondary" class="minus-button" mat-mini-fab (click)="numberOfPeople = numberOfPeople - 1 > 1 ? numberOfPeople - 1 : 1">
                    <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
                  </button>
                  <button color="secondary" class="plus-button" mat-mini-fab (click)="numberOfPeople = numberOfPeople + 1">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </div>
          </div>
          <h4 class="h4 first-page-content">How many <b>people</b> do you have in your <b>household</b>?</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="incrementIntroductionPage(); onNumberOfPeopleSelection();">Continue</button>
        </div>
      </ng-container>
      <!-- 2 section -->
      <ng-container  *ngIf="activePage==2">
        <div class="content">
          <div class="circle">
              <span>&euro;</span><span [@numberChangeAnimation]="budgetPerDay">{{budgetPerDay}}</span>
              <div class="counter-controles">
                  <button color="secondary" class="minus-button" mat-mini-fab (click)="budgetPerDay = budgetPerDay - 1 > 1 ? budgetPerDay - 1 : 1">
                      <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
                  </button>
                  <button color="secondary" class="plus-button" mat-mini-fab (click)="budgetPerDay = budgetPerDay + 1">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </div>
          </div>
          <h4 class="h4 first-page-content">How much money do you guys want to spend on <b>dinner per day</b>?</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="incrementIntroductionPage(); onBudgetPerDaySelection();">Continue</button>
        </div>
      </ng-container>
      <!-- 3 section -->
      <ng-container  *ngIf="activePage==3">
        <div class="content">
          <mat-selection-list #allergies (selectionChange)="onAllergiesSelection($event, allergies.selectedOptions.selected)" class="allergies-step-content">
            <mat-list-option *ngFor="let allergie of typeOfAllergenics" 
                             #shoes 
                             checkboxPosition="before" 
                             [value]="allergie"  
                             [selected]="allergie.selected">
              {{allergie.viewValue}}
              <mat-divider></mat-divider>
            </mat-list-option>
          </mat-selection-list>
          <h4 class="h4 first-page-content">And to finish it off, which <b>allergies</b> should we keep in mind?</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="incrementIntroductionPage()">Continue</button>
        </div>
      </ng-container>

      <!-- 4 section -->
      <ng-container  *ngIf="activePage==4">
        <div class="content">     
          <div class="food-type-container">
              <div matRipple [matRippleCentered] class="food-type-box vegetarian-food-image" (click)="nutritionCategory=nutritionCategoryEnum.vegetarian">
                <div class="food-type-layer" [@brightDimSelection]="nutritionCategory===nutritionCategoryEnum.vegetarian? 'active': ''"></div>
                <span class="food-type-text">
                  Vegetarian
                </span>
              </div>   
              <div matRipple [matRippleCentered] class="food-type-box meat-food-image"  (click)="nutritionCategory=nutritionCategoryEnum.everything">
                <div class="food-type-layer"  [@brightDimSelection]="nutritionCategory===nutritionCategoryEnum.everything? 'active':''"></div>
                <span class="food-type-text">
                  Everything
                </span>
              </div>  
          </div>  
          <h4 class="h4 first-page-content">Do you guys prefer to eat vegetarian or everything?</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="generateRecepies(); onNutritionCategorySelection();" [routerLink]="['/weeks']">Done!</button>
        </div>
      </ng-container>

      <!-- Navigation dotes -->
      <div class="nav-dotes" *ngIf="activePage!==0">

        <div class="nav-dot"  [@activeStepCircle]="activePage>=1 ? 'active': ''"></div>
        <div class="nav-dash">
          <div *ngIf="activePage>=2" [@progressAnimation]></div>
        </div>

        <div class="nav-dot"  [@activeStepCircle]="activePage>=2 ? 'active': ''"></div>
        <div class="nav-dash">
          <div *ngIf="activePage>=3" [@progressAnimation]></div>
        </div>

        <div class="nav-dot" [@activeStepCircle]="activePage>=3 ? 'active': ''"></div>
        <div class="nav-dash">
          <div *ngIf="activePage>=4" [@progressAnimation]></div>
        </div>

        <div class="nav-dot" [@activeStepCircle]="activePage>=4 ? 'active': ''"></div> 
      </div>
    </div>
  </div>
</div>