<div class="parent-container">
  <div class="steps-background-image" [ngClass]="{'blur-background': activePage!=0}">
    <div class="layer">
    </div>
  </div>

  <div class="wrapper-container">
  <div class="wrapper">
      <!-- First Section -->
      <ng-container  *ngIf="activePage==0" class="flip-horizontal-bottom">
        <div class="content">
          <h2 class="h2">Foody helps you <br/>find the right things to cook, faster.</h2>
          <h4 class="h4 first-page-content">Let us help you by asking a <br/> few basic questions.</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="activePage = activePage + 1">Let's start</button>
        </div>
      </ng-container>
      <!-- Second section -->
      <ng-container  *ngIf="activePage==1" >
        <div class="content">
          <div class="circle">
              <span>{{numberOfPeople}}</span>
              <div class="counter-controles">
                  <button color="secondary" class="minus-button" mat-mini-fab (click)="numberOfPeople = numberOfPeople - 1 > 1 ? numberOfPeople - 1 : 1">
                      <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
                  </button>
                  <button color="secondary" class="plus-button" mat-mini-fab (click)="numberOfPeople = numberOfPeople + 1">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </div>
          </div>
          <h4 class="h4 first-page-content">How many <b>people</b> do you have in your <b>household</b>?</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="activePage = activePage + 1">Continue</button>
        </div>
      </ng-container>
      <!-- Third section -->
      <ng-container  *ngIf="activePage==2" >
        <div class="content">
          <div class="circle">
              <span>&euro;{{amountPerPerson}}</span>
              <div class="counter-controles">
                  <button color="secondary" class="minus-button" mat-mini-fab (click)="amountPerPerson = amountPerPerson - 1 > 1 ? amountPerPerson - 1 : 1">
                      <mat-icon aria-label="Example icon-button with a heart icon">remove</mat-icon>
                  </button>
                  <button color="secondary" class="plus-button" mat-mini-fab (click)="amountPerPerson = amountPerPerson + 1">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </div>
          </div>
          <h4 class="h4 first-page-content">How much money do you guys want to spend <b>per day</b>?</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="activePage = activePage + 1">Continue</button>
        </div>
      </ng-container>
      <!-- Fourth section -->
      <ng-container  *ngIf="activePage==3">
        <div class="content allergies-step-content">
          <mat-selection-list >
            <mat-list-option *ngFor="let shoe of typesOfShoes" #shoes checkboxPosition="before">
              {{shoe}}
              <mat-divider></mat-divider>
            </mat-list-option>
          </mat-selection-list>
          <h4 class="h4 first-page-content">And to finish it off, which <b>allergies</b> should we keep in mind?</h4>
        </div>
        <div class="footer">
          <button mat-flat-button color="primary" primary (click)="generateRecepies()" [routerLink]="['/recipes']">Done!</button>
        </div>
      </ng-container>

      <!-- Navigation dotes -->
      <div class="nav-dotes" *ngIf="activePage!==0">
        <div class="dot"  [ngClass]="{'active': activePage>=1}"></div>
        <div class="dash" [ngClass]="{'active': activePage>=2}"></div>

        <div class="dot"  [ngClass]="{'active': activePage>=2}"></div>
        <div class="dash" [ngClass]="{'active': activePage>=3}"></div>

        <div class="dot"  [ngClass]="{'active': activePage>=3}"></div>
        <div class="dash" [ngClass]="{'active': activePage>=4}"></div>

        <div class="dot"  [ngClass]="{'active': activePage>=4}"></div> 
      </div>
    </div>
  </div>
</div>