.weeks-wrapper {
  padding: 36px;
  margin-bottom: 50px;
}

.weeks-wrapper > ul {
  padding: 0px;
}

.week-wrapper {
  display: grid;
  grid-template-columns: 72px 1fr;
  justify-content: center;
  align-content: center;
  position: relative;
  grid-column-gap: 15px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.week-wrapper>.img {
  height: 72px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.week-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  margin: 20px 0px;
}

.week-title {
  color: #234DE7;	
  font-size: 22px;	
  font-weight: 700;	
  line-height: 29px;
  display: inline-block;
  padding: none;
  margin: 0;
}

.edit-settings {
  color: #BDBDBD;	
  font-size: 16px;	
  line-height: 21px;
  cursor: pointer;
  text-decoration: none;
  align-self: center;
  justify-self: right;
}

.recipe-text {
  color: #010D37;	
  font-size: 16px;	
  height: 72px;
  padding-right: 10px;
  display: table-cell; 
  vertical-align: middle;
}

mat-tab-groups {
  height:100%;
}

/* Footer styles */

mat-button-toggle {
  box-shadow: none !important;
  background: rgba(244, 244, 244, 0.8) !important;
  color: rgba(35, 77, 231, 0.8);
  border: 0 !important;
  width: 150px;
  font-weight: bold;
}

mat-button-toggle.mat-button-toggle-checked {
  color: #234DE7;
  background: white !important;
  border: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep.mat-pseudo-checkbox::after {
  display: none !important;
}

mat-button-toggle-group {
  border: 0;
  box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
}

.footer-container {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 7%;
}

.weeks-container {
  margin: 0 auto;
  max-width: 500px;
}

/* Tab styles */
::ng-deep.mat-tab-label-container {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 200 !important;
  border-radius: 8px;
  background: rgba(245,245,245,0.8);
  box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.1);
}

::ng-deep.mat-tab-label-content {
  color: #234DE7;
  size: 16px;
  font-weight: bold;
}

::ng-deep.mat-tab-label {
  width: 150px;
}

::ng-deep.mat-tab-label-active {
  opacity: 1 !important;
  background: white;
}

::ng-deep.mat-ink-bar {
  display: none;
}

::ng-deep mat-tab-header {
  border-top: none !important;
}


