.weeks-wrapper {
  padding: 36px;
  height: 80vh;
}

.weeks-wrapper > ul {
  padding: 0px;
}

.week-wrapper {
  display: grid;
  grid-template-columns: 72px 1fr;
  justify-content: center;
  align-content: center;
  position: relative;
  grid-column-gap: 15px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.week-wrapper>.img {
  height: 72px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.week-title {
  color: #234DE7;	
  font-size: 22px;	
  font-weight: 700;	
  line-height: 29px;
}

.recipe-text {
  color: #010D37;	
  font-size: 16px;	
  height: 72px;
  padding: 0;
  display: table-cell; 
  vertical-align: middle;
}

/* Footer styles */

mat-button-toggle {
  box-shadow: none !important;
  background: rgba(244, 244, 244, 0.8) !important;
  color: rgba(35, 77, 231, 0.8);
  border: 0 !important;
  width: 150px;
  font-weight: bold;
}

mat-button-toggle.mat-button-toggle-checked {
  color: #234DE7;
  background: white !important;
  border: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

mat-button-toggle-group {
  border: 0;
  box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
}

.footer-container {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 7%;
}

.weeks-container {
  margin: 0 auto;
  max-width: 500px;
}