
<mat-tab-group headerPosition="below" position="center" mat-stretch-tabs> 
  <mat-tab label="Recipes"> 
      <div class="weeks-container">
        <div class="weeks-wrapper">
          <div class="week-header">
            <h3 class="week-title">Week 1, 2019</h3>
            <a class="edit-settings" [routerLink]="['/start', 1]">Edit household</a>
          </div>
          <ul>
            <ng-container *ngFor="let recipe of recipes">
              <li [routerLink]="['/recipe', recipe._id]" matRipple class="week-wrapper">
                <div class="img" [style.background-image]="'url('+recipe.imageURL+')'"></div>
                <div class="content">
                  <div class="recipe-text">{{recipe.title}}</div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
  </mat-tab>
  <mat-tab label="Grocery list"> 
    <div class="weeks-container">
      <div class="weeks-wrapper">
        <div class="week-header">
          <h3 class="week-title">Week 1, 2019</h3>
        </div>
        <div class="ingridient-container">
            <mat-selection-list #ingredientslist (selectionChange)="onIngredientsSelected($event, ingredientslist.selectedOptions.selected)">
              <mat-list-option *ngFor="let ingredient of ingredients" 
                               checkboxPosition="before" 
                               [value]="ingredient"
                               [selected]="ingredient?.selected">
                <mat-divider></mat-divider>
                <span class="ingredient-name">
                  {{ingredient.name}} 
                  <span class="ingredient-quantity">{{ingredient.amount}}</span>
                </span>
              </mat-list-option>
            </mat-selection-list>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<!-- <div class="footer-container">
  <mat-button-toggle-group value="preparetion" #group="matButtonToggleGroup">
    <mat-button-toggle value="preparetion">
      Recipes
    </mat-button-toggle>
    <mat-button-toggle value="ingrideints">
      Grocery list
    </mat-button-toggle>
  </mat-button-toggle-group>
</div> -->
  