<mat-tab-group [selectedIndex]="1">
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
</mat-tab-group>

<div class="weeks-container">
  <div class="weeks-wrapper">
    <h3 class="week-title">Week 1, 2019</h3>
    <ul>
      <ng-container *ngFor="let recipe of recipeList">
        <li [routerLink]="['/recipe']" matRipple class="week-wrapper">
          <div class="img" [style.background-image]="recipe.image_url"></div>
          <div class="content">
            <div class="recipe-text">{{recipe.short_description}}</div>
          </div>
        </li>
      </ng-container>
    </ul>
    <h3 class="week-title">Week 2, 2019</h3>
    <ul *ngFor="let recipe of recipeList">
      <li [routerLink]="['/recipe']" matRipple class="week-wrapper">
        <div class="img" [style.background-image]="recipe.image_url"></div>
        <div class="content">
          <div class="recipe-text">{{recipe.short_description}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="footer-container">
  <mat-button-toggle-group value="preparetion" #group="matButtonToggleGroup">
    <mat-button-toggle value="preparetion">
      Recipes
    </mat-button-toggle>
    <mat-button-toggle value="ingrideints">
      Grocery list
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
  