.recipe-wrapper {
  padding: 36px;
  padding-top: 0;
  overflow: scroll;
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 50px;
}

.header-container {
  position: fixed;
  top: 0;
  padding: 8px;
  left: 50%;
  margin-left: -50%;
  z-index: 100;
  width: 100%;
  background: white;
}

.recipe-video {
  height: 30vh;
  width: 100%;
}

.content-container {
  margin-top: 30vh;
  overflow: scroll;
}

.step-container {
  width: 100%;
  max-width: 500px;
  background: #F4F4F4;
  border-radius: 8px;
  color: #234DE7;
  padding: 16px 16px 16px 60px;
  font-size: 16px;
  position: relative;
}

.step-container[last] {
  background: #FFDE00;
}

.steps-number {
  position: absolute;
  left: 25px;
  font-weight: bold;
}

.step-container~.step-container {
  margin-top: 15px;
}

.row {
  margin: 0;
}

mat-button-toggle {
  box-shadow: none !important;
  background: rgba(244, 244, 244, 0.8) !important;
  color: rgba(35, 77, 231, 0.8);
  border: 0 !important;
  width: 150px;
  font-weight: bold;
}

mat-button-toggle.mat-button-toggle-checked {
  color: #234DE7;
  background: white !important;
  border: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

mat-button-toggle-group {
  border: 0;
  box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
}

.footer-container {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 10%;
}

.title-text {
  color: #234DE7;	
  font-size: 22px;	
  font-weight: 700;	
  line-height: 29px;
  padding: 15px;
  padding-left: 0;
}

.section-title-text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #234DE7;
}


/* Footer styles */

mat-button-toggle {
  box-shadow: none !important;
  background: rgba(244, 244, 244, 0.8) !important;
  color: rgba(35, 77, 231, 0.8);
  border: 0 !important;
  width: 150px;
  font-weight: bold;
}

mat-button-toggle.mat-button-toggle-checked {
  color: #234DE7;
  background: white !important;
  border: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep.mat-pseudo-checkbox::after {
  display: none !important;
}

mat-button-toggle-group {
  border: 0;
  box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
}

.footer-container {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 7%;
}

.weeks-container {
  margin: 0 auto;
  max-width: 500px;
}

/* Footer styles */

mat-button-toggle {
  box-shadow: none !important;
  background: rgba(244, 244, 244, 0.8) !important;
  color: rgba(35, 77, 231, 0.8);
  border: 0 !important;
  width: 150px;
  font-weight: bold;
}

mat-button-toggle.mat-button-toggle-checked {
  color: #234DE7;
  background: white !important;
  border: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep.mat-pseudo-checkbox::after {
  display: none !important;
}

mat-button-toggle-group {
  border: 0;
  box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
}

.footer-container {
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 7%;
}

.weeks-container {
  margin: 0 auto;
  max-width: 500px;
}

/* Tab styles */
::ng-deep.mat-tab-label-container {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 200 !important;
  border-radius: 8px;
  background: rgba(245,245,245,0.8);
  box-shadow: 0 -5px 30px 0 rgba(0,0,0,0.1);
}

::ng-deep.mat-tab-label-content {
  color: #234DE7;
  size: 16px;
  font-weight: bold;
}

::ng-deep.mat-tab-label {
  width: 150px;
}

::ng-deep.mat-tab-label-active {
  opacity: 1 !important;
  background: white;
}

::ng-deep.mat-ink-bar {
  display: none;
}

::ng-deep mat-tab-header {
  border-top: none !important;
}

.ingredient-quantity {
  color: #010D37;
  font-size: 16px !important;
  line-height: 21px;
  float: right;
  font-weight: 300 !important;
  justify-self: right;
}

.ingredient-name {
  color: #010D37;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.ingredient-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}
