<div class="main-container">
  <div class="row">
    <div class="col-sm">
      <header>
        <div class="img">
          <div class="recipe-overlay">
                
            <div class="tag-container">
              <div class="tag"><span class="tag-text">20 Minutes</span></div>
              <div class="tag"><span class="tag-text">&euro;12</span></div>
            </div>
            <h4 class="h4 title">
              Ravioli with spinazie and gorgonzola
            </h4>
            <button color="secondary" mat-mini-fab [routerLink]="['/recipes']">
                <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
              </button>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h5 class="section-title">Ingiridients</h5>
  </div>
</div>
<div class="row">
  <div class="col-sm>">

    <div class="content-carousel">
      <swiper class="swiper-ingridients" [config]="configIngridients">
        <div class="swiper-wrapper">

          <div class="swiper-slide first-carousel-item">
            <div class="recipe-container">
              <div class="ingridient-img">
                <div class="ingridient-overlay"></div>
                <span>2 Tablespoons of olive oil</span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="recipe-container">
              <div class="ingridient-img">
                <div class="ingridient-overlay"></div>
                <span>2 Tablespoons of olive oil</span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="recipe-container">
              <div class="ingridient-img">
                <div class="ingridient-overlay"></div>
                <span>2 Tablespoons of olive oil</span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="recipe-container">
              <div class="ingridient-img">
                <div class="ingridient-overlay"></div>
                <span>2 Tablespoons of olive oil</span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="recipe-container">
              <div class="ingridient-img">
                <div class="ingridient-overlay"></div>
                <span>2 Tablespoons of olive oil</span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="recipe-container">
              <div class="ingridient-img">
                <div class="ingridient-overlay"></div>
                <span>2 Tablespoons of olive oil</span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="recipe-container">
              <div class="ingridient-img">
                <div class="ingridient-overlay"></div>
                <span>2 Tablespoons of olive oil</span>
              </div>
            </div>
          </div>

          <div class="swiper-slide"></div>

        </div>
      </swiper>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h5 class="section-title">Preparation</h5>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div class="content-carousel">
      <swiper class="swiper-preparetion" [config]="configPreparetion">
        <div class="swiper-wrapper">

          <div class="swiper-slide first-carousel-item">
            <div class="preparation-box">
              <span class="step-number">01</span>
              <span class="preparation-explanation">
                Heat the oil in a big pan and cut the onion
                in thin rings. Put the onions in the pan for 5
                minutes and cook them till they become hazy.
                Now cut the garlic in thin slices and add it
                to the oil.
              </span>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="preparation-box">
              <span class="step-number">02</span>
              <p class="preparation-explanation">
                While everything is simmering,
                cook the Ravioli in hot water
                accordin to the instructions
                on the package.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="preparation-box">
              <span class="step-number">03</span>
              <p class="preparation-explanation">
                While everything is simmering,
                cook the Ravioli in hot water
                accordin to the instructions
                on the package.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="preparation-box">
              <span class="step-number">04</span>
              <p class="preparation-explanation">
                While everything is simmering,
                cook the Ravioli in hot water
                accordin to the instructions
                on the package.
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="preparation-box">
              <span class="step-number">05</span>
              <p class="preparation-explanation">
                While everything is simmering,
                cook the Ravioli in hot water
                accordin to the instructions
                on the package.
              </p>
            </div>
          </div>
          <div class="swiper-slide"></div>
        </div>
      </swiper>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm footer-action-container">
    <button mat-flat-button color="primary" primary>Save this recipe</button>
  </div>
</div>
