
<mat-tab-group headerPosition="below" position="center" mat-stretch-tabs> 

  <!-- Preparation Tab -->

  <mat-tab label="Preparation">
    <div class="recipe-wrapper">
      <div class="header-container">
        <iframe *ngIf="recipe?.youtubeId !== null" class="recipe-video" [src]="videoSrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <video *ngIf="recipe?.youtubeId == null" class="recipe-video" [src]="videoSrc" controls>
          <source  type="video/mp4">
        </video>
      </div>
      <div class="content-container">   
        <h3 class="title-text">{{recipe?.title}}</h3>
        <h3 class="section-title-text">Preparation</h3>
        <ng-container *ngFor="let preparationStep of recipe?.preparationSteps; let i = index">
            <div class="step-container">
              <span class="steps-number">{{i+1}}</span>
              {{preparationStep}}
            </div>
        </ng-container>
        <div class="step-container" last>
          <span class="steps-number">{{recipe?.preparationSteps.length + 1}}</span>Enjoy!
        </div>
      </div>
    </div>
  </mat-tab>

  <!-- Ingredients Tab -->

  <mat-tab label="Ingredients"> 
      <div class="recipe-wrapper">
        <h3 class="title-text">{{recipe?.title}}</h3>
        <h4 class="section-title-text">Ingredients</h4>
        <div class="ingredient-container">
            <mat-selection-list #ingredientslist (selectionChange)="onIngredientsSelected($event, ingredientslist.selectedOptions.selected)">
              <mat-list-option *ngFor="let ingredient of recipe?.ingredients" 
                               checkboxPosition="before"
                               [value]="ingredient"
                               [selected]="ingredient?.selected">
                <mat-divider></mat-divider>
                <div class="ingredient-grid">
                  <span class="ingredient-name">{{ingredient?.name}} </span>
                  <span class="ingredient-quantity">{{ingredient?.amount}}</span>
                </div>
              </mat-list-option>
            </mat-selection-list>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>